<h1>HR Dashboard</h1>
<ul>
    <li><a asp-action="ManageLecturers" asp-controller="Lecturers">Manage Lecturers</a></li>
    <li><a asp-action="AddLecturer" asp-controller="Lecturers">Add New Lecturer</a></li>
</ul>
